.checkout {
  padding: 8rem 2.4rem;
  background-color: $color-accent;

  &__grid {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    align-items: start;
    grid-gap: 3.2rem;

    @include respond(930px) {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    padding: 3.6rem;
    background-color: $color-white;

    @include respond(930px) {
      grid-row: 2/3;
    }
  }

  &__title {
    margin-bottom: 1.2rem;
  }

  &__section {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid $color-primary;
  }

  &__addresses {
    .cart__address {
      background-color: $color-accent-bg;

      &--selected {
        background-color: $color-primary;
      }
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__input-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;

    @include respond(1048px) {
      grid-template-columns: 1fr;
      grid-gap: 2.4rem;
    }
  }

  &__input-triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;

    @include respond(1048px) {
      grid-template-columns: 1fr;
      grid-gap: 2.4rem;
    }
  }
}
